* {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* z-index: 1000; */
}

/* navigation bar */
nav {
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo_navbar {
  margin-top: 10px;
  padding-left: 10px;
  width: 80px;
  height: 50px;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar ul li a {
  font-weight: bold;
}

.nav-navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-navbar li {
  margin-right: 20px;
}

.nav-navbar li:last-child {
  margin-right: 0;
}

.nav-navbar li a {
  color: #222;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-navbar li a:hover {
  color: #d4af37;
}
/* navigation bar */

/* home */
@keyframes moveSlideshow {
  0% {
    left: 0;
  }
  33.3% {
    left: -100%;
  }
  66.6% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

.slideshow-container {
  z-index: 1;
  padding-top: 60px;
}
.home .slideshow-container {
  width: 300vw; /* Lebar total untuk menampung semua gambar */
  overflow: hidden; /* Mengatur overflow agar gambar yang di luar container tidak terlihat */
  position: relative; /* Mengatur posisi relatif untuk elemen-elemen di dalam slideshow */
  overflow-x: hidden;
  overflow-y: hidden;
}

.home .mySlides-fade {
  width: 100vw; /* Lebar masing-masing gambar */
  float: left; /* Mengatur agar gambar-gambar dapat ditampilkan secara berdampingan */
}

.home .mySlides-fade img {
  width: 1500px;
  height: 580px;
}

.home .slideshow-container {
  animation: moveSlideshow 10s infinite; /* Animasi untuk bergerak dari satu gambar ke yang lain */
}
/* home */

/* promo */
.judul_promo {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #3b3a3a;
}
.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-item {
  width: calc(
    33.33% - 20px
  ); /* 33.33% untuk 3 gambar dalam 1 baris, dan kurangkan margin */
  margin-bottom: 20px; /* Berikan jarak antara setiap item */
  position: relative;
}

.promo-item img {
  max-width: 100%; /* Menyesuaikan ukuran gambar dengan lebar container */
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s;
}

.promo-caption {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px; /* Sesuaikan sesuai kebutuhan */
  border-radius: 8px;
  margin-top: 10px; /* Beri jarak antara gambar dan teks */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
}

.promo-caption:hover {
  transform: translateY(-5px); /* Efek mengangkat sedikit saat kursor di atas */
}

/* promo */

/* menu */

#menu {
  height: 625vh;
}

.judul_feedback,
.judul_menu,
.judul_menu2,
.judul_menu3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap; /* Agar item menu melompat ke baris baru setelah 4 item */
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px; /* Tambahkan padding agar tidak terlalu dekat dengan tepi */
}

.menu-item {
  width: calc(
    25% - 20px
  ); /* 25% untuk membuat 4 item di setiap baris, dan kurangkan margin */
  margin-bottom: 40px; /* Berikan jarak antara setiap item */
  position: relative;
}

.menu-item img {
  width: 80%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s; /* Tambahkan transisi untuk efek zoom dan bayangan */
}

.menu-item:hover img {
  transform: scale(1.05); /* Efek zoom saat hover */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Efek bayangan saat hover */
}

.menu-caption {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  position: relative; /* Mengubah menjadi relative */
  transition: opacity 0.3s; /* Tambahkan transisi untuk efek muncul */
  opacity: 0; /* Awalnya jadikan tidak terlihat */
  font-weight: bolder;
  padding-right: 50px;
}

.menu-item:hover .menu-caption {
  opacity: 1; /* Efek muncul saat hover */
}

.menu-dropdown {
  position: relative;
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.menu-dropdown:hover .menu-dropdown-content {
  display: block;
}

/* menu */

.judul_lokasi {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.lokasi-outlet {
  height: 80vh;
}
.map-container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 25%; /* Set padding-bottom to maintain aspect ratio (75% for 4:3 ratio) */
  position: relative;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* Remove border from iframe */
}

.footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navbar-items {
  display: flex;
  align-items: flex-start; /* Menyusun item-item ke kiri */
  list-style: none;
}

.navbar-items a {
  color: #fff;
  text-decoration: none; /* Menghapus garis bawah pada tautan */
  font-weight: bold; /* Membuat tulisan tebal */
  margin: 10px 0; /* Memberikan jarak atas dan bawah */
  padding: 50px;
}

.navbar-items a:hover {
  color: #ffd700; /* Warna kuning saat di hover */
}

.social-icons {
  margin-left: 20px;
  list-style: none;
  display: flex;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
}
/* Mengubah warna ikon Instagram saat dihover */
.social-icons .instagram:hover {
  color: rgb(231, 8, 75);
}

/* Mengubah warna ikon Facebook saat dihover */
.social-icons .facebook:hover {
  color: #3b5998;
}

/* Mengubah warna ikon Twitter saat dihover */
.social-icons .twitter:hover {
  color: #1da1f2;
}

/* Mengubah warna ikon YouTube saat dihover */
.social-icons .youtube:hover {
  color: red;
}



.feedback {
  margin: 20px auto; /* Menempatkan kotak feedback di tengah secara horizontal */
  padding: 20px;
  /* border: 2px solid #ffd700; Menggunakan warna kuning untuk border */
  border-radius: 10px; /* Menggunakan border-radius untuk membuat sudut kotak menjadi melengkung */
  background-color: #fff; /* Memberikan latar belakang putih pada kotak feedback */
  width: 70%; /* Menetapkan lebar kotak feedback */
}

.feedback form {
  text-align: center;
}
.feedback h3 {
  color: #222; /* Menggunakan warna kuning untuk judul feedback */
  margin-bottom: 20px; /* Menambahkan sedikit ruang di bawah judul */
}

.feedback input,
.feedback textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffd700; /* Menggunakan warna kuning untuk border input */
  border-radius: 5px;
  background-color: #fff; /* Memberikan latar belakang putih pada input */
  color: #333; /* Menggunakan warna abu-abu untuk teks input */
}

.feedback textarea {
  height: 100px;
}

.feedback button {
  background-color: #fafafa; /* Menggunakan warna kuning untuk tombol */
  color: #333; /* Menggunakan warna abu-abu untuk teks tombol */
  padding: 10px 20px;

  border-radius: 1px solid #222;   
  cursor: pointer;
  transition: background-color 0.3s; /* Efek transisi saat hover */
}

.feedback button:hover {
  background-color: #f6c917; /* Menggunakan warna kuning yang sedikit lebih gelap saat tombol dihover */
}

.footer .copyright {
  color: #fff;
  margin-left: 20px; /* Atur jarak dari elemen sebelumnya */
}

.footer .navbar-items,
.footer .social-icons,
.footer .copyright {
  margin: 10px 0; /* Tambahkan jarak atas dan bawah antara setiap elemen */
}

.harga {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
}

.item-details-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  padding: 40px; /* Penyesuaian ukuran */
  border-radius: 20px; /* Penyesuaian ukuran */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Penyesuaian bayangan */
  display: none;
  width: 20vw; /* Lebar sesuai dengan 60% dari lebar viewport */
  height: 20vw; /* Tinggi sesuai dengan 60% dari lebar viewport */
  max-width: 400px; /* Maksimum lebar container */
  max-height: 400px; /* Maksimum tinggi container */
  text-align: center;
  padding-bottom: 10px;
  
}

.masukkan-jumlah input {
  margin-top: 20px;
}

.masukkan-keranjang-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white; /* Warna latar belakang */
  color: #ffcb05; /* Warna teks kuning */
  border: 2px solid black; /* Garis tepi hitam */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transisi untuk efek hover */
}

.masukkan-keranjang-button:hover {
  background-color: #ffcb05; /* Warna latar belakang saat hover */
  color: white; /* Warna teks saat hover */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px; /* Sesuaikan dengan ukuran ikon */
  height: 24px; /* Sesuaikan dengan ukuran ikon */
  cursor: pointer;
}
/* CSS untuk gambar keranjang */
.keranjang-icon {
  width: 30px; /* Sesuaikan ukuran gambar dengan preferensi Anda */
  height: auto; /* Memastikan gambar tetap proporsional */
  margin-left: 10px; /* Jarak antara logo MCD dan gambar keranjang */
}
